/* No styles at this level testing git branching */
#topBackground{
    background-color: white;
    margin-left: 2%;
    margin-right: 10%;
}

#titleName{
    padding-top: 10px;
    /* margin-left: 350px; */
    color: #030065;
}


#topImage{
    margin-right: 200px;
}

.titleText {
    text-align: center;
    font-size: 40px;
}

.banner {
  background-color: #85caff;
}


#top {
    background-image: url(../assets/background.jpg);
}

#topImage {
    width: 100%;
    z-index: 0;
}

/* Container needed to position the button. Adjust the width as needed */
.container1 {
    position: relative;
  }
  
  /* Make the image responsive */
  .container1 img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container1 .btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border-color: white;
  }
  
  .container1 .btn:hover {
    background-color: #5eabff;
  }