<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="background-color:rgba(255, 255, 255, 0.25); padding: 5px;">
<div class="container" >
        <div class="row">
                <div class="col-2">
                </div>
                <div class="col-7">
                    <h1 id = "titleName" class = "titleText">
                        <span style="color: #FD0000">A</span>
                        <span style="color: #003B6F">utomated  </span>
                        <span style="color: #FD0000">T</span>
                        <span style="color: #003B6F">rading  </span>
                        <span style="color: #FD0000">P</span>
                        <span style="color: #003B6F">latform</span>
                    </h1>
                </div>
                <div class="col-2">
                    <img src="../assets/citi.png" height="60px" class = "float-right">
                </div>
                <br>
                <hr>
        </div>
</div>

</div> -->

<div class="container1">
    <img id = "topImage" src="../assets/top.jpg">
    <a href="#theToolbar"><button class="btn">Get Started</button></a>
</div>

<br>







<trader-toolbar></trader-toolbar>
<br>
<!-- <hr width="100%" /> -->
<trader-table></trader-table>

<router-outlet></router-outlet>
