html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Arial, Sans-serif;
  font-size: 11pt;
  padding: 8px;
}

h1 {
  font-size: 16pt;
  margin-top: 0;
  text-align: left;
}

h2 {
  font-size: 14pt;
  text-align: left;
}

.bodyStyle {
  background-image: url("./assets/background.jpg");
}


