
    <div class="modal-header">
        <h4 class="modal-title">Trading History</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <h1>{{allPositions.id}}</h1><br> -->
        <!-- <h1>{{allPositions | json}}</h1><br>
        <p>Hello, {{name}}!</p> -->

        <table class="table">
                <thead class="table-primary">
                        <th class="right" >Stock</th>
                        <th class="right" >Open Date</th>
                        <th class="right" >Open Price</th>
                        <th class="right" >Open type</th>
                        <th class="right" >Close Date</th>
                        <th class="right" >Close Price</th>
                        <th class="right" >Close Type</th>
                        <th class="right" >Profit</th>
                        <th class="right" >ROI</th>
                        <th class="right" >Status</th>
                </thead>

                <tbody class = "table table-striped">
                    <tr *ngFor='let position of allPositions;'>
                        <td>{{position.openingTrade.stock | json}}</td>
                        <td>{{position.openingTrade.when | date:'M/d/yy h:mma'}}</td>
                        <td>{{position.openingTrade.price | currency}}</td>
                        <!-- <td>{{position.openingTrade.buy}}</td> -->
                        <!-- <td *ngIf = "position; else openNotNull">N/A</td> -->
                        <td *ngIf = "position.openingTrade != null && position.openingTrade.buy; else openSell">Buy</td>
                        <ng-template #openSell><td>Sell</td></ng-template>

                        <td *ngIf = "position.closingTrade != null; else noCloseWhen">{{position.closingTrade.when | date:'M/d/yy h:mma'}}</td>
                        <ng-template #noCloseWhen><td>N/A</td></ng-template>
                        <td *ngIf = "position.closingTrade != null; else noClosePrice">{{position.closingTrade.price | currency}}</td>
                        <ng-template #noClosePrice><td>N/A</td></ng-template>
                        <td *ngIf = "position.closingTrade != null && position.closingTrade.buy; else closeSell">Buy</td>
                        <ng-template #closeSell>
                            <td *ngIf = "position.closingTrade != null; else sellNotApply">Sell</td>
                            <ng-template #sellNotApply><td>N/A</td></ng-template>
                        </ng-template>
                        <td>${{position.profitOrLoss | number: '.1-1' }}</td>
                        <td *ngIf = "position.roi != 'NaN'; else nan">{{ position.roi * 100 | number: '2.1-1'}}%</td>
                        <ng-template #nan><td>N/A</td></ng-template>
                        <td *ngIf = "!position.open; else posOpen">Close</td>
                        <ng-template #posOpen><td>Opening</td></ng-template>
                    </tr>
                    
                        <!-- <tr>{{position.openingTrade.when | json}}</tr> -->
                        <!-- <tr class="right">{{position}}</tr> -->
                        <!-- <tr>{{name}}</tr> -->
                        <!-- <tr>{{position | json}}</tr> -->
                        <!-- <tr>{{allPositions.openingTrade.stock | json}}</tr> -->
                </tbody>

        </table>
        

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>