<div id = "theToolbar" class = "createBox">
  <div class="container">
    <div>
      <h1 style="color: #007BFF">Create a trade</h1>
    </div>
    <div class="row">
        <div class="col-3">
          <span>Investment Type</span><br>
          <div style="width: 100%;" class="btn-group">
              <select [(ngModel)] = "type" value="{{type}}" class="btn btn-primary dropdown-toggle" >
                  <option value="2MA" >Two moving averages</option>
                  <option value="BB" >Bollinger bands</option>
                  <option value="PB" >Price Breakout </option>
              </select>
          </div>

        </div>
        <div class="col-2">
            <span>Stock</span><br>
            <span> </span><input class = "border border-primary rounded height35" style="width: 100%;" type="text" [(ngModel)]="stock" />
        </div>
        <div class="col-1">
            <span>Size</span><br>
            <span> </span><input class = "border border-primary rounded height35" type="number" step="100" style="width: 100%;" [(ngModel)]="size" />
        </div>
          <div *ngIf = "type === '2MA'" class="col-1">
            <span>Short</span><br>
            <input class = "border border-primary rounded height35" style="width: 100%;" type="number" min="15" step="15" [(ngModel)]="lengthShort" />
          </div>
          <div *ngIf = "type === '2MA'" class="col-1">
            <span>Long</span><br>
            <input class = "border border-primary rounded height35" style="width: 100%;" type="number" min="15" step="15" [(ngModel)]="lengthLong" />
          </div>
          <div *ngIf = "type === 'BB' || type === 'PB'" class="col-2">
            <span>Window Size</span><br>
            <input class = "border border-primary rounded height35" style="width: 100%;" type="number" min="15" step="15" [(ngModel)]="windowsize" />
          </div>
          <div *ngIf = "type === 'BB'" class="col-1">
              <span>Multiplier</span><br>
              <input class = "border border-primary rounded height35" style="width: 100%;" type="number" min="0.1" max = "0.5" step="0.05" [(ngModel)]="multiplier" />
          </div>

        <div class="col-1">
          <span>Exit</span><br>
          <input class = "border border-primary rounded height35" style="width: 70%;" type="number" min="0.25" step="0.25" [(ngModel)]="exitThreshold" /><span>%</span>
        </div>
        <div id = "createDiv" class="col-2">
            <input class="btn btn-primary createButton" style="width: 100%;"  type="button" value="Create" (click)="create()" />
        </div>
    </div>
  </div>

</div>
