<div class="container">
    <div class="row">
        <div class="col-3" style="padding: 5px">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" >Strategy</h5>
                        <p class="card-text" style="font-size: 40px; color: #007BFF">{{traders.length}}</p>
                  </div>
              </div>
          </div>
        <div class="col-3" style="padding: 5px">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" >Total Trade</h5>
                        <p *ngIf = "getTotalTrades() != null; else noTradeTop" class="card-text" style="font-size: 40px; color: #007BFF">{{getTotalTrades()}}</p>
                        <ng-template #noTradeTop>
                            <p class="card-text" style="font-size: 40px; color: #007BFF">0</p>
                        </ng-template>
                  </div>
              </div>
        </div>
        <div class="col-3" style="padding: 5px">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" >Total Profit</h5>
                        <p class="card-text" style="font-size: 40px; color: #007BFF">{{getTotalProfit() | currency:'USD':'symbol':'1.0-0'}}</p>
                  </div>
              </div>
        </div>
        <div class="col-3" style="padding: 5px">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" >Average ROI</h5>
                        <p class="card-text" style="font-size: 40px; color: #007BFF">{{getAvgROI() | number: '1.2-2'}}%</p>
                  </div>
              </div>
        </div>
    </div>
</div>
<br>

<!-- <h2>{{traders[6] | json}}</h2> -->

<table id = "tableBottom" class="table">
  <thead class="table-primary">
    <tr>
      <th>Stock</th>
      <th class="right" >Size</th>
      <th class="right" >Strategy</th>
      <th class="right" >Parameters</th>
      <th class="right" >Exit</th>
      <th>State</th>
      <th class="right" >Trades</th>
      <th class="right" >Profit</th>
      <th class="right" >ROI</th>
      <th class="right" >Trading History</th>
    </tr>
  </thead>
  <tbody class = "table-borderless">
    <tr
      *ngFor="let trader of traders; let i = index"
      [ngClass]="{
          'oddWinner': trader.profitOrLoss > 0 && i % 2 == 1,
          'evenWinner': trader.profitOrLoss > 0 && i % 2 == 0,
          'oddLoser': trader.profitOrLoss < 0 && i % 2 == 1,
          'evenLoser': trader.profitOrLoss < 0 && i % 2 == 0
        }"
    >
      <!-- <td>{{trader['@type']}}</td> -->
      <td>{{trader.stock}}</td>
      <td class="right" >{{trader.size}}</td>
      <td *ngIf = "trader['@type'] === '2MA'" class="right">2MA</td>
      <td *ngIf = "trader['@type'] === 'BB'" class="right">BB</td>
      <td *ngIf = "trader['@type'] === 'PB'" class="right">PB</td>
      <td *ngIf = "trader['@type'] === '2MA'" class="right" ><span> </span>Short: {{trader.lengthShort / 1000}} / Long: {{trader.lengthLong / 1000}}</td>
      <td *ngIf = "trader['@type'] === 'BB'" class="right" >Window: {{trader.windowsize}} / Multiplier: {{trader.multiplier}}</td>
      <td *ngIf = "trader['@type'] === 'PB'" class="right" >Window: {{trader.windowsize}}</td>
      <td class="right" >{{trader.exitThreshold | percent:'1.2-2'}}</td>
      <td>
        <input
          class="btn btn-outline-primary"
          id="trader{{i}}"
          type="button"
          [value]="getState(trader)"
          [disabled]="getState(trader) == 'Stopping' || getState(trader) == 'Starting'"
          (click)="startOrStop($event, false)" />
      </td>
      <td class="right indent" >{{trader.trades}}</td>
      <td *ngIf="trader.trades > 1; else profitNa" class="right" >{{trader.profitOrLoss | currency:'USD':'symbol':'1.1-1'}}</td>
      <ng-template #profitNa><td class = "right">N/A</td></ng-template>
      <td *ngIf="trader.trades > 1; else ROINa" class="right" >{{trader.ROI | percent:'1.2-2'}}</td>
      <ng-template #ROINa><td class = "right">N/A</td></ng-template>
      <td>
        <span *ngIf = 'trader.trades > 1; else notrade'>
          <button [disabled] = 'trader.trades <= 1' type="button" class="btn btn-outline-primary" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="moreInfo($event)" [value]='trader.ID'>More Info</button>
        </span>
        <ng-template #notrade>
            <button disabled type="button" class="btn btn-outline-primary" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="moreInfo($event)" [value]='trader.ID'>No Histories</button>
        </ng-template>
      </td>
    </tr>
   </tbody>
   <tfoot>
      <tr class="table-info">
          <td colspan="6" ></td>
          <td *ngIf = "getTotalTrades() != null" class="right table-bordered" >Total Trades</td>
          <td *ngIf = "getTotalTrades() != null" class="right table-bordered" >Total Profits</td>
          <td colspan="2" ></td>
      </tr>
     <tr class="table-info">
       <td colspan="6" ></td>
       <td *ngIf = "getTotalTrades() != null" class="right table-bordered" >{{getTotalTrades()}}</td>
       <td class="right table-bordered" >{{getTotalProfit() | currency:'USD':'symbol':'1.2-2'}}</td>
       <td colspan="2" ></td>
     </tr>
   </tfoot>
</table>
