div {
  /* margin-bottom: 4px;
  margin-top: 4px; */
}

span {
  /* margin-left: 6px; */
}

input {
  width: 40px;
  margin-left: 2px;
  margin-bottom: 4px;
}

input[type="number"] {
  width: 50px;
  text-align: left;
}

input[type="button"] {
  width: auto;
  margin-top: 10px;
  padding: 4px;
  background-color: #0069D9;
  border: 2px outset #88f;
}

.center{
  text-align: center;
}

#typeId{
  margin-bottom: 0px;
}

.height35 {
  height: 35px;
}

.createButton{
  margin-top: 20px;
}

#createDiv{
  padding-bottom: 0px;
}

.createBox {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}